body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header li {
    display: inline;
    margin-right: 10px;
}

li:last-child {
    margin-right: 0px;
}

.header {
    background-color: black;
    color: white;
    padding: 20px 0;
    font-size: 1.25rem;
    background-image: url(images/background.jpg);
    background-size: cover;
}

.main-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.p {
    text-align: justify;
}

.footer {
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 10px;
}

.container {
    max-width: 75%;
    margin: 0 auto;
}

.avatar {
    height: 300px;
    text-align: center;
    background-image: url(images/background1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.avatar img {
    height: 100%;
}

.btn-white {
    color: white !important;
    border-color: white !important;
}

.btn {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    transition: color 1s, border-color 1s;
}

.btn:hover {
    color: blue;
    border-color: blue;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 5px;
    text-align: center;
}

.text-center {
    text-align: center;
}

.w-50 {
    width: 50%;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

/* main{
    background-color: red;
}

main{
    background-color: blue;
} */
